
$padding: 30px;

@function padding($axe) {
    @return map-get($padding, $axe);
}

.contact {
    @extend %page;

    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto auto;
    width: 450px;

    form {
        h2 { margin-bottom: space('large'); }

        display: flex;
        position: relative;
        flex-direction: column;
        height: 100%;
        padding: $padding;

        background-color: white;
        box-shadow: -5px 5px 11px 0px #00000012;
        input, textarea {
            margin-bottom: 20px;
            padding: 10px;
            border: none;
            border-radius: 3px;
            background-color: #f9f9f9;
        }
        
        textarea {
            flex-grow: 2;
        }

        [type="submit"] {
            position: absolute;
            right: $padding;
            width: 200px;
            bottom: -38px;
            color: white;
            border-radius: 50px;
            background: gradient(195deg);
        }
    }
    p { font-size: 0.9em; color: #ff7171; margin-bottom: 5px;}
    .error {
        border: 1px solid #ff7171 * 2;
        
        &::placeholder { color: #ff7171; opacity: 1; }
        background-color: #fff7f7;
    }
}

.mail-send {
    display: flex;
    justify-content: center;
    flex-direction: column;

    margin: 100px auto;
    height: 100px;
    width: 400px;

    border: 2px solid #cee2cd;
    border-radius: 10px;
    p { text-align: center; }
}

@media all and (max-width: $width-screen-size)  {
    .contact {
        margin: auto auto;
    }
}

$grey: #a7a7a7;
::placeholder { color: $grey; opacity: 1; } // Opacity -> Firefox
:-ms-input-placeholder { color: $grey; } // Internet Explorer 10-11
::-ms-input-placeholder {  color: $grey; } // Microsoft Edge