
.profil {
    @extend %page;
   
    section > p { text-align: center; margin: 0 0 space('medium') 0; }
    div {
        display: flex;
        align-items: center;
        justify-content: space-around;
        margin: 0 0 space('medium') 0;

        img { height: 85px; margin: 0 space('medium'); }

        p { max-width: 450px; }

        &:nth-of-type(2) { text-align: right; }
    }
}

.cv {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    max-width: 240px;
    min-width: 240px;
    border-radius: 50px;
    margin: 50px auto !important;

    color: white !important;
    background: gradient(195deg);
    box-shadow: -4px 5px 9px 0px #0000001a;
}

.ext-link {
    width: 12px;
    margin-left: 10px;
}


@media all and (max-width: 1050px)  {
    .profil {
        div { 
            flex-direction: column; 
            img { margin: space('medium') 0; }
        }
    }
}