
.profil {
    @extend %page;
   
    section > p { text-align: center; margin: 0 0 space('medium') 0; }
    div {
        display: flex;
        align-items: center;
        justify-content: space-around;
        margin: 0 0 space('medium') 0;

        img { height: 85px; margin: 0 space('medium'); }

        p { max-width: 450px; }

        &:nth-of-type(2) { text-align: right; }
    }
}

.cv {
    display: block;
    margin: space('large') auto;
    min-width: 200px;
    height: 40px;
    border-radius: 50px;

    background: gradient(195deg);
    box-shadow: -4px 5px 9px 0px #0000001a;
    color: white;
    text-decoration: none;
    text-align: center;
}


@media all and (max-width: 1050px)  {
    .profil {
        div { 
            flex-direction: column; 
            img { margin: space('medium') 0; }
        }
    }
}