
.technologies {
    @extend %page;

    .typing-animation {
        display: flex;
        align-items: center;
        margin-top: space('large');

        & > * {
            display: flex;
            flex-direction: column;
            justify-content: center;
            height: 100%;
        }

        .front-icons, .back-icons{ align-items: center;  }
        
        .writting-dev { margin: space('medium'); }
        
        svg:not(.writting-dev) { margin: 20px 0; transform: scale(0.9); }

        [alt~="MySQL"] { max-width: 80px; }

        svg:not(.selected) { fill: grey; }
    }

    .illustration {
        position: relative;
        justify-content: start;
        color: white;

        .screen {
            position: absolute;
            margin: 55px 30px;
            padding: 0 20px;
            line-height: 20px;
            background-color: transparent;
            border:none;
            overflow: hidden;
            resize: none;
        }

        .ace-tomorrow-night .ace_gutter,
        .ace-tomorrow-night .ace_gutter-active-line {
            background-color: rgba($color: #000000, $alpha: 0);
        }

        .ace_scroller {
            width: 370px;
            height: 300px;
        }

        .ace_scrollbar.ace_scrollbar-h { display: none; }
    }

    .tools {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        max-height: 250px; 

        & > * {
            display: flex;
            align-items: center;
            margin: 0 50px 30px 0;
    
            img { height: 30px; margin-right: 15px; }
        }
    }
}


@media all and (max-width: 1290px)  {

    .typing-animation {
        flex-direction: column;
        
        & > * {
            flex-direction: row !important;
        }

        svg:not(.writting-dev) { 
            margin: 20px !important;
        }
    }
}

@media all and (max-width: 570px) {
    .technologies {
        margin: 0 !important;
        & > * {
            min-width: 129%;
        }
    }

    #screen { 
        width: 270px !important;
        margin: 45px 0;

        font-size: 10px;
        line-height: 12px;
    }
    .writting-dev { 
        margin: space('medium') 0 !important;
        width: 295px;
    }
    .work-env .tools { max-height: unset; }
}