@import './common.scss';
@import './template.scss';

%page {
    grid-area: page;

    height: 500px;
    margin: 0 $content-margin;
    padding: 0 $content-padding;

    overflow-y: scroll;

    h2, h3, & > * { width: 100%; }
    a { color: color('primary'); text-decoration: underline;}

    & > * {
        margin-bottom: $mb-1;
        line-height: 28px;
    }
}

@import './profil.scss';
@import './technologies.scss';
@import './projects.scss';
@import './contact.scss';


@media all and (max-width: $width-screen-size)  {
    .page {
        h2, p {
            text-align: center;
        }
        
        div {
            flex-direction: column;

            img { margin: 30px 0; }
        }

        overflow-y: unset; 
        height: 1000px;
    }
}


