@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400&display=swap');

$width-screen-size: 1000px;

$theme-colors: (
    "primary": #769c5d,
    "secondary": #57748c,
    "text": rgb(95, 95, 95),
);

$font-size: (
    "normal": 1em,
    "large": 1.2em,
);

$space: (
    "x-small": 8px,
    "small": 20px,
    "medium": 30px,
    "large": 40px,
);

@function color($color) {
    @return map-get($theme-colors, $color);
}

@function font-size($size) {
    @return map-get($font-size, $size);
}

@function space($size) {
    @return map-get($space, $size);
}

@function gradient($deg) {
    @return linear-gradient($deg, color("primary"), color("secondary"));
}

::selection { color: white; background: #658677; }

* {
    margin: 0;
    padding: 0;

    color: color('text');
    text-decoration: none;
    font-style: normal;
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 0.08rem;
    font-weight: 300;
}

html, body { height: 100vh; overflow: hidden; }
h1, h2 { font-weight: 400; }

::-webkit-scrollbar {
    opacity: 0;
    border-radius: 50px;
    width: 8px;

    &:hover {
        background: rgb(238, 238, 238);
        opacity: 0.1;
    }
}

::-webkit-scrollbar-thumb {
    background: rgb(88, 131, 120) !important;
    border-radius: 50px;
}

button {
    word-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: unset;
    align-items: center;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: none;
}