@import './common.scss';
@import './template.scss';

%page {
    grid-area: page;

    height: 510px;
    margin: 0 auto;
    max-width: 70%;
    padding: 0 $content-padding;

    overflow-y: scroll;
    overflow-x: hidden;

    h2, h3, & > * { 
        max-width: 100%; 
        min-width: 80% ; 
        margin: 0 0 space('large') 0; 
    }
    
    a { color: color('primary'); text-decoration: underline;}

    & > * {
        margin-bottom: space('large');
        line-height: 28px;
    }
}

@import '../pages/projects/projects.scss';
@import '../pages/skills/skills.scss';
@import '../pages/profile/profile.scss';
@import '../pages/contact/contact.scss';
@import '../pages/legal-notice/legal-notice.scss';
@import '../pages/error/error404.scss';



@media all and (max-width: $width-screen-size) {
    .page {
        h2, p {
            text-align: center;
        }
        
        div {
            flex-direction: column;
            img { margin: 30px 0; }
        }

        overflow-y: unset; 
        height: auto;
    }

    %page { overflow-y: unset; overflow-x: unset; }
    html { overflow-x: hidden; }

    .contact > * { min-width: 80%; }
}



