
body {
    display: grid;
    grid-template-columns: 30% 70%;
    grid-template-rows: 20vh 80vh;
    grid-template-areas: 
        "aside container"
        "aside container";
}

@media all and (max-width: $width-screen-size)  {
    body {
        grid-template-columns: auto;
        grid-template-rows: 100vh 50px auto;
        grid-template-areas: 
            "aside" "container" "container";
    }

    html, body { overflow: visible;}
}

.container {
    grid-area: container;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 20vh 80vh;
    grid-template-areas: "header" "page";
}

aside {
    position: relative;
    &::before{
        content: '';
        display: block;
        position: absolute;
        height: 1000px;
        width: 800px;
        left: 0;
        top:0;
        transform: 
            rotate(5deg)
            translateX(-700px)
            translate(1 * 20vw, -40px);

        z-index: -1;
        background: gradient(220deg);
    }

    grid-area: aside;

    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    * { color: white; }

    h1 { font-size: 22px; margin-bottom: 5px; }
    h2 {
        margin-bottom: space('large');

        font-size: 28px;
        font-weight: 100;
    }

    address > a:nth-of-type(2) { 
        margin-bottom: 20px; 
    }

    a {
        display: flex;
        width: 100%;
        margin-bottom: 8px;
        font-size: 15px;

        img {
            width: 15px;
            height: 15px;
            margin-right: 5px;
            align-self: center;
        }
    }

    .legal-notice {
        margin-bottom: 15px;
        font-size: 13px;
    }
}

$content-margin: 8vw !default;
$content-padding: 5vw !default;



header {
    grid-area: header;
    position: relative;
    display: flex;
    align-items: center;
    width: 670px;
    margin: 0 auto;
    padding: 0 68.3px;

    font-size: 1.2em;

    .menu {
        display: flex;
        justify-content: space-between;
        
        width: 100%;

        a {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-grow: 1;
            height: 60px;
        }

        .indicator {
            position: absolute;
            align-self: center !important;
            margin-top: 1px;
            z-index: -2;
            border-radius: 50px;
            height: 30px;
            width: 100px;
            
            color: white;
            background: gradient(195deg);
            box-shadow: -4px 5px 9px 0px #0000001a;
            transition: 0.5s;
            transition-delay: 0.2s;
            transition-timing-function: ease-out;
        }

        .is-active, a:hover {
            color: white;
            transition: 0.2s;
            transition-delay: 0.2s;
        }

        .start-profile, a:nth-child(1):hover ~ .indicator {
            left: 10%;
            opacity: 1;
            width: 10%;
        }
        .start-skills, a:nth-child(2):hover ~ .indicator {
            left: 24%;
            opacity: 1;
            width: 168px;
        }
        .start-projects, a:nth-child(3):hover ~ .indicator {
            left: 48%;
            opacity: 1;
            width: 13%;
        }
        .start-blog, a:nth-child(4):hover ~ .indicator {
            left: 64%;
            opacity: 1;
            width: 70px;
        }
        .start-contact, a:nth-child(5):hover ~ .indicator {
            left: 76%;
            opacity: 1;
            width: 115px;
        }
    }

    .no-indicator > a:hover {
        color: color('primary');
        font-weight: 400;
        transition-delay: 0s;
    }

    .minified {
        position: fixed;
        z-index: 10;
        display: none;
        flex-direction: column;
        top: 0;
        right: 0; 
        width: 0;
        height: 100%;
        opacity: 0;
        background-color: #24312d;

        a {
            padding: 30px;
            border-bottom: 1px solid #909090;
            color: #d8d8d8;

            &:nth-child(1) {
                margin-top: 50px;
                border-top: 1px solid #909090;
            }

            &::before {
                content: '▷ ';
                margin-right: 10px;
            }
        }

        //* { min-width: 80vw; }

    }
    .btn-close {
        display: none;
        color: #909090;
        justify-content: flex-end;
        padding: 50px;
    }
    .btn-open {
        z-index: 9;
        position: fixed;
        display: none;
        justify-content: center;
        align-items: center;
        width: 50px;
        height: 50px;
        bottom: 20px;
        right: 10px;
        border: 1px solid white;
        border-radius: 50%;

        background: gradient(220deg);
        
        svg { width: 20px; }
        path { fill: white; }
    }
}

.content { padding: space('large') 0; }

.profile {
    display: flex;
    flex-direction: column;
}

.profile__img__container {
    height: 100px;
    width: 100px;
    margin-bottom: space('large');
    
    border: 4px solid white;
    align-self: center;
    
    border-radius: 50%;
    overflow: hidden;
    
    img {
        transform: scale(0.7);
        margin: -49px 0 0 -29px;
    }
}

@media all and (max-width: $width-screen-size)  {

    header, .content { margin: 0; width: auto; }
    .container { grid-template-rows: 50px auto; }
    .btn-open, .btn-close { display: flex !important; }
    .indicator { display: none; }
    nav a { color: white !important; }
    aside {
        background: gradient(220deg);
        
        &::before {
            display: none;
        }
    }
}

